.wrapper {
    height: 80px;
    width: 100vw;
    position: fixed;
    background-color: black;
    opacity: .7;
    z-index: 99;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: flex-end;
    top: 0;
    padding-right: 90%;
    
}



.navLink {
    font-size: 55px;
    padding-right: 10px;
    font-weight: 600;
    color: transparent;
    font-family: "Zenda";
    src: url(../fonts/zenda.ttf);
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: red;
    opacity: 1;
    
}

.navLink:hover {
    color: red;
    opacity: 1;
}

.work{
    height: 75px;

}
.about{
    height: 75px;
    padding-right: 50px;
}

