h1 {
  font-family: "Zenda";
  margin-left: 40%;
  font-size: 100px;
  margin-top: 3%;
  position: absolute;
  color: darkred;
  text-decoration: underline;
}

h2 {
  font-family: "Sorts Mill Goudy";
  margin-bottom: 0%;
}

.header-m img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.projects-m {
  /* background-color: rgb(218, 182, 128); */
  background-color: rgb(122, 101, 68);
}

.card-box-m {
  position: absolute;
  margin-top: 0%;
  background-color: rgb(122, 101, 68);

  width: 100%;
  height: 90%;
}

.card-box a {
  opacity: 1;
  margin-top: 0px;
}
.card-box h2 {
  opacity: 1;
  margin-bottom: 0px;
}
.card1 {
  background-image: url("../img/card-creach.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "EB Garamond";
  height: 18%;
  width: 100%;
  font-weight: 700;
  position: relative;
  z-index: 1;
}
.card2 {
  margin-top: -20px;
  z-index: 6;
  background-image: url("../img/card-weather.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "EB Garamond";
  height: 18%;
  width: 100%;
  position: relative;
  font-weight: 700;
}

.card3 {
  margin-top: -20px;
  z-index: 2;
  background-image: url("../img/card-snake-slim.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "EB Garamond";
  height: 18%;
  width: 100%;
}

.card4 {
  z-index: 3;
  margin-top: -10px;
  background-image: url("../img/card-owl.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "EB Garamond";
  height: 18%;
  width: 100%;
  position: relative;
}

.card5 {
  z-index: 4;
  margin-top: -10px;

  background-image: url("../img/card-frog.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "EB Garamond";
  height: 18%;
  width: 100%;
  position: relative;
}

.card6 {
  z-index: 5;
  margin-top: -25px;
  background-image: url("../img/card-tree.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "EB Garamond";
  height: 18%;
  width: 100%;
  position: relative;
}
.text-box {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  width: 95%;
}

.tech {
  color: darkblue;
  margin-top: 0px;
  margin-bottom: 0%;
}

p {
  font-size: 12px;
  margin-top: 0%;
}
