/* .homepage-bgimage {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: none;
  z-index: 0;
} */

.App {
  /* background-image: url(./splasher.png);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: none;
  z-index: 0; */
}

element::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-device-width: 480px) {
}

@keyframes wheelspin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
