/* .homepage-bgimage {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: none;
  z-index: 0;
} */

.App {
  /* background-image: url(./splasher.png);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: none;
  z-index: 0; */
}

element::-webkit-scrollbar {
  display: none;
}

@keyframes wheelspin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .contact {
  z-index: 3;
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 150px;
  position: absolute;
  top: -559px;
  left: 1211px;
}

.tarot {
  z-index: 3;
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 150px;
  position: absolute;
  top: -559px;
  left: 1211px;
} */
.contact:hover {
  filter: brightness(120%);
}
